<% include ./partials/header.ejs %>
<div class="w-full h-full bg-zinc-800 px-4 py-8 text-white">
    <div class="cards grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-5 gap-10">
        <% user.posts.forEach(function(elem) { %>
            <div class="card transition-transform transform hover:scale-105">
                <div class="w-full h-40 bg-sky-200 rounded-lg overflow-hidden shadow-lg">
                    <img class="w-full h-full object-cover" src="/images/uploads/<%= elem.image %>" alt="<%= elem.title %>" srcset="">
                </div>
                <h5 class="mt-2 text-sm text-center font-semibold"><%= elem.title %></h5>
                <a href="/edit/<%= elem._id %>" class="inline-block mt-2 px-4 py-2 bg-zinc-700 rounded-full text-xs font-semibold transition-colors duration-300 hover:bg-zinc-600 text-center">Edit</a>
                <% console.log("Post data:", elem._id); %>
            </div>
        <% }) %>       
    </div>
</div>
<% include ./partials/footer.ejs %>
